$primary: #49240f;
$secondary: #e4a79d;
$tertiary: #ab9169;
$alert: #e89ca3;
$warning: #ebebae;
$success: #7bbd87;
$bgColor: #fcf7f0;
$text: #4b453d;
$textSecondary: #3d352b;
$border: #e1d8cb;
$secondBorder: #e4e4e4;
$accent: #ab9069;
$hover: #a37e34;

$mobile: 600px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
